{% extends 'base/base.html'%}

{% block contenido %}
    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 px-0" style="margin-bottom: 90px;">
        <div class="row mx-0 align-items-center">
            <div class="col-lg-6 px-md-5 text-center text-lg-left">
                <h4 class="display-4 text-uppercase mb-3">DETECTOR DE ENFERMEDAD DE TIZÓN TARDÍO EN HOJAS DE PLANTA DE PAPA</h4>
                <p class="text-dark mb-4">PHYTOPHTHORA INFESTANS o comunmente conocida como Tizón Tardío, es una de las enfermedades más comunes en el cultivo de la papa.
                    Son pocos los métodos que existen para reconocer esta enfermedad, causando así que se pierdan miles de cosechas cada temporada por dicha enfermedad.
                    Este sistema nos permitirá identificar en qué etapa de la enfermedad se encuentra mediante datos de entrada e imagenes digitales.</p>
                <a href="" class="btn btn-dark text-uppercase mt-1 py-3 px-5">Learn More</a>
            </div>
            <div class="col-lg-6 px-0 text-right">
                <img class="img-fluid mt-5 mt-lg-0" src="{{url_for('static', filename='img/imagenprincipal.jpg')}}" alt="">
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <img class="img-fluid mb-4 mb-lg-0" src="{{url_for('static', filename='img/about.jpg')}}" alt="">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-4 text-uppercase mb-4">Best digital agency in downtown</h1>
                    <h5 class="text-uppercase text-primary mb-3">Clita elitr et amet et ipsum sea. Ipsum stet kasd ea et no est duo diam. Lorem dolores eos ut nonumy ipsum sit clita lorem no amet dolor dolore, stet sit dolor justo</h5>
                    <p class="mb-4">Eirmod est dolor nonumy sea amet dolore erat sit dolor et dolor vero. Tempor ipsum at justo amet at ipsum justo. Aiam kasd sea sit dolor duo elitr dolor amet, justo est ipsum amet dolor ut ipsum. Labore diam et nonumy amet dolores. Volup sit labore dolores erat, magna justo sed lorem kasd ea dolor. Labore sit clita invidunt, est dolores lorem sed ipsum kasd no amet ipsum.</p>
                    <a href="" class="btn btn-primary text-uppercase py-3 px-5">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

{% endblock %} 


